<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trader Companion - Check Strategies</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Header -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Trader Companion</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if session['username'] %}
            <li class="nav-item mr-5">
              <a class="nav-link font-weight-bold" href="/backtests">{{ session['username']|capitalize }}'s Backtests</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          {% else %}
            <li class="nav-item mr-5">
              <a class="nav-link font-weight-bold" href="/login">Login</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="/signup">Signup</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>


  <!-- Main Content -->
  <main class="container">
    <h1 class="mt-4">Available Strategies</h1>

    {% if session['username'] %}
    <hr>
    <h3 class="mt-4">{{ session['username']|capitalize }}'s Strategies</h3>
    <div class="row mt-5" id="user-strategies-container">
      <!-- User's strategies will be dynamically added here -->
    </div>
    {% endif %}

    <h3 class="mt-4">Common Strategies</h3>
    <div class="row mt-5" id="strategies-container">
      <!-- Strategies will be dynamically added here -->
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer bg-dark text-white text-center py-3 mt-5">
    <div class="container">
      <span>&copy; 2023 Trader Companion. All rights reserved.</span>
    </div>
  </footer>

  <!-- Include Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    // Function to download the Python module
    function downloadStrategy(strategyId) {
      const link = document.createElement('a');
      link.href = `/download_strategy/${strategyId}`; // Replace with your API endpoint to download the strategy module
      link.download = `${strategyId}.py`; // Set the filename of the downloaded file
      link.click();
    }

    // Function to fetch and display strategies
    async function fetchStrategies() {
      try {
        const response = await fetch('/get_strategies'); // Replace with your API endpoint to fetch strategies
        const data = await response.json();

        const strategiesContainer = document.getElementById('strategies-container');
        const userStrategiesContainer = document.getElementById('user-strategies-container');

        data.all_strategies.forEach(strategy => {
          const strategyCard = `
            <div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="../static/images/strategies.jpg" alt="Strategy Image">
                <div class="card-body">
                  <h5 class="card-title">${strategy.strategy_id}</h5>
                  <p class="card-text">${strategy.description}</p>
                  <a href="/select_stocks/${strategy.strategy_id}" class="btn btn-primary">Test Strategy</a>
                  <a href="/download_strategy/${strategy.strategy_id}.py" class="btn btn-secondary">Download Code</a>
                </div>
              </div>
            </div>
          `;

          strategiesContainer.innerHTML += strategyCard;
        });

        {% if session['username'] %}
        data.user_strategies.forEach(strategy => {
          const strategyCard = `
            <div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="../static/images/strategies.jpg" alt="Strategy Image">
                <div class="card-body">
                  <h5 class="card-title">${strategy.strategy_id}</h5>
                  <p class="card-text">${strategy.description}</p>
                  <a href="/select_stocks/${strategy.strategy_id}" class="btn btn-primary">Test Strategy</a>
                  <a href="/download_strategy/${strategy.strategy_id}.py" class="btn btn-secondary">Download Code</a>
                </div>
              </div>
            </div>
          `;

          userStrategiesContainer.innerHTML += strategyCard;
        });
        {% endif %}
      } catch (error) {
        console.error('Error fetching strategies:', error);
      }
    }

    // Call the function to fetch and display strategies
    fetchStrategies();
  </script>
</body>
</html>
