<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trader Companion - Select Stocks</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Include Typeahead CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.css">
</head>
<body>
  <!-- Header -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Trader Companion</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if session['username'] %}
            <li class="nav-item mr-5">
              <a class="nav-link font-weight-bold" href="/backtests">{{ session['username']|capitalize }}'s Backtests</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          {% else %}
            <li class="nav-item mr-5">
              <a class="nav-link font-weight-bold" href="/login">Login</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="/signup">Signup</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>


  <!-- Main Content -->
  <main class="container">
    <h1 class="mt-4">Select Stocks</h1>
    <form id="main-form">

      <!-- Date Period Selector -->
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="start-date">Select Start Date:</label>
            <input type="date" class="form-control" id="start-date" name="start-date" min="1999-11-01" max="2030-12-31" required>
          </div>
          <div class="col">
            <label for="end-date">Select End Date:</label>
            <input type="date" class="form-control" id="end-date" name="end-date" min="1999-11-01" max="2030-12-31" required>
          </div>
        </div>
      </div>

      <!-- Additional Inputs -->
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="frequency">Frequency (in days):</label>
            <input type="number" class="form-control" id="frequency" name="frequency" min="1" step="1" value="1">
          </div>
          <div class="col">
            <label for="commission">Commission (%):</label>
            <input type="number" class="form-control" id="commission" name="commission" min="0" step="0.01" value="0.2">
          </div>
        </div>
      </div>

      <!-- Ticker Box -->
      <div class="form-group">
        <label for="ticker-input">Search Ticker:</label>
        <div class="input-group">
          <input type="text" class="form-control ticker-input" placeholder="Enter ticker" required>
          <div class="input-group-append">
            <button type="button" class="btn btn-primary info-btn">+info</button>
          </div>
        </div>
      </div>

      <!-- Stock Info -->
      <div id="stock-info"></div>

      <!-- Submit Button -->
      <div class="form-group">
        <button type="submit" class="btn btn-success" id="submit-btn">Submit</button>
      </div>
    </form>

     <!-- Loading Animation -->
     <div id="loading-animation" style="display: none;">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p>Executing strategy...</p>
    </div>

    <!-- Error Message -->
    <div id="error-message" style="display: none;" class="alert alert-danger"></div>
  </main>

  <!-- Footer -->
  <footer class="footer bg-dark text-white text-center py-3 mt-5">
    <div class="container">
      <span>&copy; 2023 Trader Companion. All rights reserved.</span>
    </div>
  </footer>

  <!-- Include Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Include Typeahead JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

  <!-- Custom JavaScript -->
  <script>
    // Check today's date
    document.addEventListener('DOMContentLoaded', function() {
      const today = new Date().toISOString().split('T')[0];
      const startDateInput = document.getElementById('start-date');
      const endDateInput = document.getElementById('end-date');

      startDateInput.setAttribute('max', today);
      endDateInput.setAttribute('max', today);
    });

    document.addEventListener('DOMContentLoaded', function() {
      const tickerInput = document.querySelector('.ticker-input');
      const infoButton = document.querySelector('.info-btn');
      const submitButton = document.getElementById('submit-btn');
      const stockInfoDiv = document.getElementById('stock-info');
      const loadingAnimation = document.getElementById('loading-animation'); // Add this line
      const errorMessage = document.getElementById('error-message');

      // Autocomplete method
      $(tickerInput).typeahead({
        minLength: 1,
        highlight: true,
        hint: true,
        source: function(query, result) {
          fetch(`/search_ticker?query=${query}`)
            .then(response => response.json())
            .then(data => {
              const searchResults = data.map(result => result.symbol + ' - ' + result.name);
              result(searchResults);
            });
        }
      });

      // Info button
      infoButton.addEventListener('click', function() {
        const ticker = extractTickerSymbol(tickerInput.value);

        fetch(`/get_stock_info?ticker=${ticker}`)
          .then(response => response.json())
          .then(data => {
            displayStockInfo(data);
          })
          .catch(error => {
            console.error('Error:', error);
          });
      });

      // Submit button
      submitButton.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default form submission

        const startDate = document.getElementById('start-date').value;
        const endDate = document.getElementById('end-date').value;
        const ticker = extractTickerSymbol(tickerInput.value);

        // The startDate must be lower than endDate
        if (startDate > endDate) {
          alert('Start date must be before the end date.');
          return;
        }

        const form = document.getElementById('main-form');

        // Check form validity
        if (!form.checkValidity()) {
          // Trigger the browser's default validation messages
          form.reportValidity();
          return;
        }

        // Extract the strategy ID from the current URL
        const url = new URL(window.location.href);
        const strategyId = url.pathname.split('/').pop();

        // Extract the frequency and commission from the form
        const frequency = parseInt(document.getElementById('frequency').value) || 1;
        const commission = parseFloat(document.getElementById('commission').value) / 100 || 0.002;

        // Send the startDate, endDate, and ticker to the backend
        fetch('/check_data_availability', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({endDate: endDate, ticker: ticker }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.error) {
              // Display the error message
              errorMessage.textContent = data.error;
              errorMessage.style.display = 'block';
            } else {
              // Redirect to the strategy_results page with the parameters
              const url = new URL('/display_results', window.location.origin);
              url.searchParams.append('strategyId', strategyId);
              url.searchParams.append('startDate', startDate);
              url.searchParams.append('endDate', endDate);
              url.searchParams.append('ticker', ticker);
              url.searchParams.append('frequency', frequency);
              url.searchParams.append('commission', commission);
              url.searchParams.append('backtestId', "");
              window.location.href = url;
            }
          })
          .catch((error) => {
            console.error('Error:', error);
          });
      });
    });

    // Function to extract ticker symbol
    function extractTickerSymbol(ticker) {
      return ticker.split(' - ')[0].trim();
    }

    // Function to display stock information or error message
    function displayStockInfo(data) {
      const stockInfoDiv = document.getElementById('stock-info');
      stockInfoDiv.innerHTML = ''; // Clear previous content

      if (data.error) {
        const errorDiv = document.createElement('div');
        errorDiv.classList.add('alert', 'alert-danger');
        errorDiv.textContent = data.error;
        stockInfoDiv.appendChild(errorDiv);
      } else {
        const infoDiv = document.createElement('div');
        infoDiv.classList.add('stock-info');
        infoDiv.innerHTML = `
          <h4>${data.Symbol} - ${data.Name}</h4>
          <p><strong>Asset Type:</strong> ${data.AssetType}</p>
          <p><strong>Description:</strong> ${data.Description}</p>
          <p><strong>CIK:</strong> ${data.CIK}</p>
          <p><strong>Exchange:</strong> ${data.Exchange}</p>
          <p><strong>Currency:</strong> ${data.Currency}</p>
          <p><strong>Country:</strong> ${data.Country}</p>
          <p><strong>Sector:</strong> ${data.Sector}</p>
          <p><strong>Industry:</strong> ${data.Industry}</p>
          <p><strong>Address:</strong> ${data.Address}</p>
          <p><strong>Market Capitalization:</strong> ${data.MarketCapitalization}</p>
          <p><strong>EPS:</strong> ${data.EPS}</p>
          <p><strong>Revenue TTM:</strong> ${data.RevenueTTM}</p>
          <!-- Add more information here -->
        `;
        stockInfoDiv.appendChild(infoDiv);
      }
    }
  </script>
</body>
</html>
